APP_NAME=VTC_SmartNews
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=snh_project
DB_USERNAME=root
DB_PASSWORD=


GEMINI_API_KEY=